@import "variables";

.App {
  position: absolute;
  text-align: center;
}

.accountsContainer {
  text-align: center;
  margin: 20% auto;
  color: $main-text;
  height: 76vh
}

.goBack:hover {
  text-decoration: none;
  transform:scale(1.05)
}
.card {
  background: $main-background-fallback;
  border-radius: 10px;
  border: 0;
  box-shadow: $main-box-shadow;
  width: 80%;
  margin: auto;

  .card-body {
    padding: 16px;
  }
}

.extraHeader {
  position: fixed;
  left: 0;
  top: 56px;
  height: 50px;
  right: 0;
  width: 100%;
  padding: 5px 16px;
  display: flex;
  align-items: center;
  background: $transparent-white;
  z-index: 1000;
  border-bottom: 1px solid $transparent-white;
}

.nav-tabs.lined {
  border: 0;
  background: transparent;
  border-radius: 0;
  display: flex;

  .nav-item {
    flex: 1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .nav-link {
      color: $listview-secondary-font-color;
      font-weight: 500;
      font-size: 13px;
      border: 0 !important;
      border-bottom: 2px solid transparent !important;
      line-height: 1.2em;
      width: 100%;
      border-radius: 0;
      padding: 6px 10px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 !important;
      border-bottom-color: 2px solid;

      &.active {
        color: $main-app-color;
        background: transparent;
        border-bottom-color: $main-app-color !important;
      }
    }
  }
}

.bill-box {
  background: $transparent-white;
  box-shadow: $main-box-shadow;
  border-radius: 10px;
  padding: 20px 24px;
  text-align: center;

  &.billList{
    background-color: $bill-list-bg;
  }

  p {
    font-size: 11px;
    line-height: 1.4em;
    height: 36px;
    margin: 0 0 10px 0;
  }

  .price {
    font-size: 20px;
    font-weight: 700;
    color: $main-ui-text;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin-bottom: 12px;
  }

  .img-wrapper {
    text-align: center;
    margin-bottom: 16px;
  }

  img {
    margin: auto;
  }
  
}

.form-group {
  width: 100%;

  &.basic {
    padding: 8px 0;
    margin: 0;

    .form-control {
      background: transparent;
      border: none;
      border-bottom: 1px solid $main-border-color;
      padding: 0 30px 0 0;
      border-radius: 0;
      height: 40px;
      color: $main-ui-text;
      font-size: 15px;
    }

    .form-control:focus {
      border-bottom-color: $main-app-color;
      box-shadow: inset 0 -1px 0 0 $main-app-color;
    }
  }

  .label {
    font-size: 11px;
    margin: 0;
    font-weight: 500;
    color: $main-ui-text;
    display: block;
    line-height: 1.2em;
    text-align: left;
  }

  textarea {
    resize: none;
  }

  .input-info {
    font-size: 11px;
    color: $input-font-color;
  }

  .clear-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $listview-secondary-font-color;
    height: 38px;
    font-size: 22px;
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 32px;
    opacity: 0.5;
    display: none;
  }

  .input-wrapper {
    position: relative;
  }

  .clear-input:active, .clear-input:hover {
    opacity: 0.8;
  }

  .input-wrapper.not-empty .clear-input {
    display: flex;
  }

  .input-wrapper.active .label {
    color: $main-app-color !important;
  }
}
 
.form-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 14px;

  div a{
    color: $main-text;
  }
}

.form-button-group {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 16px;
  background: $main-background-fallback;
  min-height: 84px;
  padding-bottom: env(safe-area-inset-bottom);
  
  &.transparent {
    background: transparent !important;
    
    a {
      min-width: 80%;
      
      &:hover{
        text-decoration: none;
      }
    }

  }

}

.card-block {
  height: 125px;
  width: 60%;
  background: $card-bg;   //$card-bg is a variable also
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 $main-box-shadow;
  color: #FFF;
  position: relative;
  margin: auto;

  .card-main {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
    position: absolute;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    padding: 20px 24px;
  }
    .balance {
      text-align: left;
      position: absolute;
      left: 24px;
      top: 24px;

      .title {
        font-weight: 700;
        color: $card-main-text;
        font-size: 18px;
      }

    }
  
    span.label { 
      font-size: 11px;
      letter-spacing: 1px;
      opacity: .5;
      line-height: 1em;
      margin-bottom: 5px;
      text-transform: uppercase;
      display: block;
      font-weight: 500;

      &.balanceLabel{
        margin-top: 20px;
      }
    }

    h5.balanceLabel {
      font-size: 1.2em
    }

    .in {
      position: absolute;
      text-align: left;
      left: 70%;
      bottom: 10%;

      .card-number {
        font-size: 17px;
        letter-spacing: 3px;
        font-weight: 500;
      }

      .card-expiry {
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;

        a {
          color:$rewards-text-link;

          &:hover {
            text-decoration: none;
            color: $rewards-text-link-hover;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
}  

@media (max-width: 976px) {
  div.card-expiry {
    display: none
  }
}

@media (max-width: 440px) {
  div.card-number {
    display: none
  }
}

@media (max-width: 600px) {
  div.card-block {
    width: 80%;
  }
}

#appCapsule {
  padding: 56px 0;
  min-height:100vh;

  .heroContainer {
    width: 50%;
    position: relative;
    left: 50%;
    top: 10%;
    text-align: center;
    transform: translate(-50%, -10%);
    margin-bottom: 50px;
    color: $transparent-white;
  }
}

.formTitle {
  color: $transparent-white;
}

.appHeader {
  
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: $transparent-white;
  color: $main-ui-text;
  border-bottom: 1px solid $transparent-white;

  .badge {
    background-color: rgb(255, 126, 6);
    color: white;
    border-radius: 100%;
    min-width: 17px;
    height: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 16px !important;
    font-size: 11px;
    padding: 0 4px !important;
    position: absolute;
    right: 0;
    top: 10px; 
  }

  .pageTitle {
    color: $main-app-color;
    font-size: 17px;
    font-weight: 500;
    padding: 0 10px;
  }

  
  .left,
  .right {
    height: 56px;
    display: flex;
    align-items: center;
    position: absolute;
  }

  .left .icon,
  .left ion-icon,
  .right .icon,
  .right ion-icon {
    font-size: 26px;
  }

  .left .headerButton,
  .right .headerButton {
    min-width: 36px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $main-app-color;
    position: relative;
  }

  .left .headerButton .btn,
  .right .headerButton .btn {
    font-size: 16px;
    height: 32px;
    padding: 0px 14px;
  }

  .left .headerButton:active,
  .right .headerButton:active {
    opacity: .6;
  }

  .left {
    left: 10px;
    top: 0;
  }

  .right {
    right: 10px;
    top: 0;
  }
}

.btn-primary {
  background: $card-bg !important;
  border: none;

  &#loginBtn {
    // margin-bottom: 45%;

  &:hover{
    background: $card-bg;
  }

  &:focus{
    outline: 0;
  }
}
}

.loginParagraph {
  color: $transparent-white;
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 15%;
  text-align: center;
  transform: translate(-50%, 50%);
}

.extra-header-active {
  margin-top: 75px;
}

.avatar-section {
  text-align: center;
  position: relative;
  display: inline-flex;

  .imaged {
    border: 5px solid #FFF;
    box-shadow: 0 1px 3px 0 $main-box-shadow;
  }

  .button {
    background: $main-app-color;
    color: #FFF;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.listview-title {
  color: $listview-secondary-font-color;
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 500;
}

                                             // chec after  this row

.listview {
  display: block;
  padding: 0;
  margin: 0;
  color: $main-ui-text;
  background: $bill-list-bg;
  border-top: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
  line-height: 1.3em;

  .text-muted {
    font-size: 13px;
    color: $muted-white !important;
  }

  .text-small {
    font-size: 13px;
    color: $listview-secondary-font-color;
  }

  .text-xsmall {
    font-size: 11px;
    color: $input-font-color;
  }

  &.flush {
    border-top: 0;
    border-bottom: 0;
  }

  &.transparent {
    background: transparent;
  }

  &.no-line > li:after,
&.no-line .item :after {
  display: none;
}

&.no-space > li .item {
  padding: 0;
}

&.no-space > li {
  padding-left: 0;
  padding-right: 0;
}

&.inset {
  margin-left: 16px;
  margin-right: 16px;
  overflow: hidden;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 $main-box-shadow;
} 

}

.text-primary,
a.text-primary {
  color: $main-app-color !important;
}


.listview > li {
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 50px;
}

.listview > li:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: $main-border-color;
}

.listview > li:last-child:after {
  display: none;
}

.listview > li footer,
.listview > li header {
  font-size: 12px;
  margin: 0;
  line-height: 1.2em;
}

.listview > li footer {
  color: $listview-secondary-font-color;
  margin-top: 3px;
}

.listview > li header {
  margin-bottom: 3px;
}

.listview > li.divider-title {
  background: rgba(220, 220, 233, 0.5);
  margin-top: -1px;
  border-top: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
  padding: 12px 16px;
  font-size: 13px;
  min-height: auto;
  color: $listview-secondary-font-color;
}

.listview > li.divider-title:after {
  display: none;
}

.link-listview > li {
  padding: 0;
  min-height: auto;
}

.link-listview > li a {
  padding: 11px 36px 11px 16px;
  min-height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: $main-ui-text !important;
}

.link-listview > li a:after {
  content: "\f3d1";
  font-family: "Ionicons";
  font-size: 18px;
  position: absolute;
  right: 16px;
  height: 18px;
  top: 50%;
  margin-top: -9px;
  line-height: 1em;
  color: $input-font-color;
  opacity: 0.6;
}

.link-listview > li a:active {
  background: rgba(220, 220, 233, 0.3);
}

.link-listview > li.active a {
  background: rgba(220, 220, 233, 0.3) !important;
}

.image-listview > li {
  padding: 0;
  min-height: auto;
}

.image-listview > li:after {
  left: 68px;
}

.image-listview > li .item {
  padding: 11px 16px;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.image-listview > li .item .image {
  width: 36px;
  height: 36px;
  border-radius: 400px;
  margin-right: 16px;
}

.image-listview > li .item .icon-box {
  min-width: 36px;
  max-width: 36px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  font-size: 22px;
  border-radius: 400px;
  margin-right: 16px;
}

.image-listview > li .item .icon-box.transparent {
  font-size: 28px;
  color: $main-app-color;
}

.image-listview > li .item .in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image-listview > li a.item {
  color: $main-ui-text !important;
  padding-right: 36px;
}

.image-listview > li a.item:active {
  background: rgba(220, 220, 233, 0.3);
}


.image-listview > li.active .item {
  background: rgba(220, 220, 233, 0.3) !important;
}

.image-listview.text > li:after {
  left: 16px;
}

.image-listview.media > li {
  border-bottom: 1px solid $main-border-color;
}

.image-listview.media > li:last-child {
  border-bottom: 0;
}

.image-listview.media > li .imageWrapper {
  margin-right: 16px;
}

.image-listview.media > li:after {
  display: none;
}


span h5:hover {
    text-decoration: underline;
  }

.imaged {
   font-size: 1.5rem;
   height: 75px;

  &.w75 {
  width: 75px !important;

  &.rounded {
    border-radius: 20% !important;
  }
}
}


                                          // Custom Control


.custom-control .custom-control-label {
  padding-left: 10px;
  padding-top: 2px;
  color: $main-ui-text;
}

.custom-control .custom-control-label:before {
  box-shadow: none !important;
  background: $main-border-color;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  margin-top: -2px;
  background: transparent;
  border-color: $main-border-color !important;
}

.custom-control .custom-control-label:after {
  margin-top: 1px;
  margin-left: 3px;
}

.custom-control .custom-control-label:active:before {
  background: $main-background-fallback !important;
  border-color: $main-border-color !important;
}

.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background: $main-app-color !important;
  border-color: $main-app-color !important;
}

.custom-control .custom-control-input:checked ~ .custom-control-label:after {
  width: 16px;
  height: 16px;
  background-size: 12px 12px;
}

.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  border-radius: 100%;
}                                          


                                                                // custom switch


                                                                
.custom-switch .custom-control-label {
  width: 56px;
  height: 30px;
}

.custom-switch .custom-control-label:before {
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 100px;
  width: 56px;
  height: 30px;
  border-color: #ccccdf !important;
  background: $main-border-color;
}

.custom-switch .custom-control-label:after {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-top: -1px;
  margin-left: 1px;
  left: 3px;
  top: 4px;
  background: $main-background-fallback;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}

.custom-switch .custom-control-label:active:before {
  background: rgba(220, 220, 233, 0.5) !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label:before {
  border-radius: 100px;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label:after {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  left: 16px;
}
// .row {
//   margin: 0;
// }

// .accountsContainer {
//   text-align: center;
//   width: 40%;
//   margin: 50px auto;
  
//   .accountInfoContainer {
//     background: rgba(0,0,0,0.2);
//     box-shadow: 0 0 8px #777;
//     border-radius: 10px;
//     margin: 10px;

//     .accountInfoBtn {
//       min-width: 100%;
//       background: transparent;
//       border: none;
//       outline: none
//     }
    
//   }
// }

// .accountInfo {
//   text-align: left;

// }

// .accountBalance {
//   text-align: left;
//   padding-left: 14px;
// }
// .accountName {
//   text-align: left;
//   padding-left: 14px;
// }

// .rewardsInfo {
//   align-self: center;
// }

// .rewardsBtn{
//   min-width: 100%;
//   text-align: center;
//   font-size: .75rem;
//   background-color: transparent;
//   padding: 5px;
//   border: none;
//   color: $rewards-text;

//   &:hover {
//     text-decoration: none;
//     color: whitesmoke;
//   }
// }


// .nav {
//   position: absolute;
//   bottom: 0;
// }


.appBottomMenu {
  min-height: 56px;
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: $transparent-white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $transparent-white;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0;
}

.appBottomMenu.no-border {
  border: 0 !important;
  box-shadow: 0 !important;
}

.appBottomMenu .item {
  font-size: 9px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  height: 56px;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.appBottomMenu .item:before {
  content: '';
  display: block;
  height: 2px;
  border-radius: 0 0 10px 10px;
  background: transparent;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 0;
}

.appBottomMenu .item .col {
  width: 100%;
  padding: 0 4px;
  text-align: center;
}

.appBottomMenu .item .icon,
.appBottomMenu .item ion-icon {
  display: inline-flex;
  margin: 1px auto 3px auto;
  font-size: 24px;
  line-height: 1em;
  color: $main-ui-text;
  transition: 0.1s all;
  display: block;
  margin-top: 1px;
  margin-bottom: 3px;
}

.appBottomMenu .item .action-button {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  background: $main-app-color;
}

.appBottomMenu .item .action-button.large {
  width: 60px;
  height: 60px;
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;
}

.appBottomMenu .item .action-button .icon,
.appBottomMenu .item .action-button ion-icon {
  color: #FFF !important;
  margin: 0 !important;
  line-height: 0 !important;
}

.appBottomMenu .item strong {
  margin-top: 4px;
  display: block;
  color: $main-ui-text;
  font-weight: 400;
  transition: 0.1s all;
}

.appBottomMenu .item:active {
  opacity: .8;
}

.appBottomMenu .item.active:before {
  background: $main-app-color;
}

.appBottomMenu .item.active .icon,
.appBottomMenu .item.active ion-icon,
.appBottomMenu .item.active strong {
  color: $main-app-color !important;
  font-weight: 500;
}

.appBottomMenu .item:hover .icon,
.appBottomMenu .item:hover ion-icon,
.appBottomMenu .item:hover strong {
  color: $main-ui-text;
}

.appBottomMenu.text-light {
  color: #FFF;
}

.appBottomMenu.text-light .item {
  color: #FFF;
  opacity: .7;
}

.appBottomMenu.text-light .item .icon,
.appBottomMenu.text-light .item ion-icon,
.appBottomMenu.text-light .item strong {
  color: #FFF;
}

.appBottomMenu.text-light .item.active {
  opacity: 1;
}

.appBottomMenu.text-light .item.active .icon,
.appBottomMenu.text-light .item.active ion-icon,
.appBottomMenu.text-light .item.active strong {
  color: #FFF !important;
}

.appBottomMenu.bg-primary, .appBottomMenu.bg-secondary, .appBottomMenu.bg-success, .appBottomMenu.bg-warning, .appBottomMenu.bg-danger, .appBottomMenu.bg-info, .appBottomMenu.bg-light, .appBottomMenu.bg-dark {
  border: 0;
}

.appBottomMenu.bg-primary .item:before, .appBottomMenu.bg-secondary .item:before, .appBottomMenu.bg-success .item:before, .appBottomMenu.bg-warning .item:before, .appBottomMenu.bg-danger .item:before, .appBottomMenu.bg-info .item:before, .appBottomMenu.bg-light .item:before, .appBottomMenu.bg-dark .item:before {
  display: none;
}


.pyro {
  position: absolute;
  height: 250px;
  width: 50%;
  top: 10%;
  left: 10%;
  z-index: -10;
}

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

// body {
//   margin:0;
//   padding:0;
//   background: #000;
//   overflow: hidden;
// }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out 5 backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}
