@import "variables";

.App {
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
  // background: blue;
}

.row {
  margin: 0;
}

.accountsContainer {
  width: 40%;
  margin: 50px auto;
  
  .accountInfoContainer {
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 8px #777;
    border-radius: 10px;
    margin: 10px;
    
  }
}

.accountInfo {
  text-align: left;
  // padding-left: 10%;
}

.accountBalance {
  padding-left: 14px;
}

.rewardsInfo {
  align-self: center;
}
