@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

// html {
//   height: 100vh;
// }

body {
  height: 100vh;
  background-image: linear-gradient(120deg, #65f6ef 0%, #0061b1 100%);
}